In [1]:
import pandas as pd 
import streamlit as st 
import plotly.express as px

In [2]:
def ler_excel(excel):

    df = pd.read_excel(excel)
    df[['Curso','Campus','Turno']]  = df['Cargo'].str.split('-',expand=True)
    df  = df[['Curso','Tipo de Vaga','Campus','Turno',"Nivel","Inscritos","Pagos", "Isenções deferidas","Inscrições homologadas"]]
    df.rename({"Isenções deferidas": 'Deferidas', "Inscrições homologadas": 'Homologadas'}, axis=1, inplace=True) 
    df['Campus'] = df['Campus'].apply(lambda r: r.replace("Campus","").replace("campus","").strip().upper() )
    df['Curso'] = df['Curso'].apply(lambda r: r
                                    .replace("Técnico Integrado em","")
                                    .replace("Técnico Integrado","")
                                    .replace("Técnico Subsequente em","").strip().upper())

    return df

In [3]:
# df = ler_excel('dados/inscricoes/Inscricoes_Tecnicos_638397193257353240.xlsx')
df = pd.read_excel('dados/inscricoes/Inscricoes_Tecnicos_638397193257353240.xlsx')
df[['Curso','Campus','Turno']]  = df['Cargo'].str.split(' - ',expand=True)
df['Campus'] = df['Campus'].apply(lambda r: r.replace("Campus ","").replace("campus ","").strip())
df.rename({"Núm. Inscrição":"Inscricao"},axis=1, inplace=True) 
df.set_index("Inscricao", inplace=True)
# df

df[["CPF","Nome","Cidade","Campus","Curso"]]

,CPF,Nome,Cidade,Campus,Curso
Inscricao,,,,,
363483,5479556690,VICTOR GERALDO GOMES X,Belo Horizonte,Arcos,Técnico Integrado em Mecânica
363485,14534044658,ELOÁ GABRIELLE FERNANDES OLIVEIRA,Governador Valadares,Governador Valadares,Técnico Subsequente em Segurança do Trabalho
363486,11985308630,LUÍSA DE OLIVEIRA PEIXOTO ALVES,Governador Valadares,Governador Valadares,Técnico Integrado em Segurança do Trabalho
363487,15409545605,MARIA EDUARDA NEVES LIMA,Contagem,Ribeirão das Neves,Técnico Integrado em Informática
363488,13563234647,GABRIEL LUIZ DO NASCIMENTO,Conselheiro Lafaiete,Conselheiro Lafaiete,Técnico Integrado em Eletrotécnica
...,...,...,...,...,...
382270,11654739685,FERNANDA RIBEIRO CAMPOS,Arcos,Arcos,Técnico Integrado em Mecânica
382274,11273346629,JANE ALVES DE OLIVEIRA,Governador Valadares,Governador Valadares,Técnico Subsequente em Segurança do Trabalho
382275,11257473662,ANA CAROLINA MESQUITA DIAS,Ouro Branco,Ouro Branco,Técnico Integrado em Administração
382276,17810641646,MARIA CLARA DE SOUZA BARROS,Cantagalo,São João Evangelista,Técnico Integrado em Informática
382277,15758873632,ALEXANDRE VICTOR OLIVEIRA CARDOSO,Lagoa da Prata,Bambuí,Técnico Integrado em Agropecuária

In [4]:
df[["CPF","Nome","Cidade","Campus","Curso"]]

,CPF,Nome,Cidade,Campus,Curso
Inscricao,,,,,
363483,5479556690,VICTOR GERALDO GOMES X,Belo Horizonte,Arcos,Técnico Integrado em Mecânica
363485,14534044658,ELOÁ GABRIELLE FERNANDES OLIVEIRA,Governador Valadares,Governador Valadares,Técnico Subsequente em Segurança do Trabalho
363486,11985308630,LUÍSA DE OLIVEIRA PEIXOTO ALVES,Governador Valadares,Governador Valadares,Técnico Integrado em Segurança do Trabalho
363487,15409545605,MARIA EDUARDA NEVES LIMA,Contagem,Ribeirão das Neves,Técnico Integrado em Informática
363488,13563234647,GABRIEL LUIZ DO NASCIMENTO,Conselheiro Lafaiete,Conselheiro Lafaiete,Técnico Integrado em Eletrotécnica
...,...,...,...,...,...
382270,11654739685,FERNANDA RIBEIRO CAMPOS,Arcos,Arcos,Técnico Integrado em Mecânica
382274,11273346629,JANE ALVES DE OLIVEIRA,Governador Valadares,Governador Valadares,Técnico Subsequente em Segurança do Trabalho
382275,11257473662,ANA CAROLINA MESQUITA DIAS,Ouro Branco,Ouro Branco,Técnico Integrado em Administração
382276,17810641646,MARIA CLARA DE SOUZA BARROS,Cantagalo,São João Evangelista,Técnico Integrado em Informática
382277,15758873632,ALEXANDRE VICTOR OLIVEIRA CARDOSO,Lagoa da Prata,Bambuí,Técnico Integrado em Agropecuária

In [47]:
df.columns

Index(['Núm. Inscrição', 'Nome', 'Nome Social', 'CPF', 'RG', 'Orgão Expedidor',
       'Data Expedição', 'Nome da Mãe', 'Data de Nascimento', 'Logradouro',
       'Número', 'Complemento', 'Bairro', 'Cidade', 'Estado', 'CEP',
       'Telefone 1', 'Telefone 2', 'Telefone 3', 'E-mail', 'Processo', 'Cargo',
       'Data Inscrição', 'Status', 'Deficiência', 'Tipo Deficiência',
       'Descrição da Deficiência', 'CID', 'Concorre à vaga de deficiente',
       'Necessidade Especial para Real. Prova',
       'Descrição Necessidade Especial', 'NIS', 'Tipo de Isenção',
       'Concorrer Vagas Destinadas à Pretos ou Pardos', 'Núm. ENEM',
       'Ano Enem', 'Declara Indígena', 'Declara Baixa Renda', 'Local de Prova',
       'Link Currículo lattes', 'Tipo de Vaga', 'Tipo de Reserva de Vaga',
       'Autodeclaração Deficiência', 'Renda familiar inferior a 10 salários',
       'Renda Familiar', 'Anexos', 'Curso', 'Campus', 'Turno'],
      dtype='object')

In [50]:
df["Campus"].unique()

array(['Arcos', 'Governador Valadares', 'Ribeirão das Neves',
       'Conselheiro Lafaiete', 'Betim', 'Ipatinga', 'Ibirité',
       'Santa Luzia', 'Bambuí', 'Piumhi', 'Sabará', 'Ouro Preto',
       'Congonhas', 'Ouro Branco', 'São João Evangelista', 'Ponte Nova',
       'Itabirito', 'Formiga'], dtype=object)

In [67]:
df[df["Campus"] == "Ponte Nova"][["CPF","Nome","Cidade","Campus","Curso"]]

,CPF,Nome,Cidade,Campus,Curso
Inscricao,,,,,
363587,3640252632,ADRIANA DA FONSECA MACHADO,Ponte Nova,Ponte Nova,Técnico Integrado em Informática
363613,13335299612,LETICIA UBALDO VILAR,Ponte Nova,Ponte Nova,Técnico Integrado em Informática
363739,12024450636,LETTICIA CUNHA E BONFIOLI,Ponte Nova,Ponte Nova,Técnico Integrado em Administração
363761,12872108645,BHEATRIZ BARROS OLIVEIRA E FONSECA,Ponte Nova,Ponte Nova,Técnico Integrado em Informática
363762,12076136657,IASMYM EMANUELLE LINHARES,Alvinópolis,Ponte Nova,Técnico Integrado em Administração
...,...,...,...,...,...
382129,1870096606,MARCOS TÚLIO MARTINS CONEGUNDES,Ponte Nova,Ponte Nova,Técnico Integrado em Informática
382141,12275923616,BRUNA LETÍCIA COELHO REIS,Ponte Nova,Ponte Nova,Técnico Integrado em Informática
382185,70092740618,SOFIA GOMES DELVAUX,Ponte Nova,Ponte Nova,Técnico Integrado em Administração
382209,14545435661,PEDRO HERIQUE ALVES VIANA,Ponte Nova,Ponte Nova,Técnico Integrado em Informática
382259,1879779684,FABIO FERNANDO CARDOSO DA SILVA,Ponte Nova,Ponte Nova,Técnico Integrado em Informática

In [5]:
df[df["Campus"] == "Ponte Nova"].groupby(['Cidade']).count()[['CPF']].sort_values('CPF', ascending=False)

                           CPF
Cidade
Ponte Nova                 328
Jequeri                     32
Alvinópolis                 31
Urucânia                    31
Rio Casca                   29
Oratórios                   28
Guaraciaba                  22
Dom Silvério                19
Santa Cruz do Escalvado     15
Barra Longa                 14
Raul Soares                 13
Amparo da Serra             11
Santo Antônio do Grama      11
Viçosa                       9
Abre Campo                   7
Diogo de Vasconcelos         5
Piedade de Ponte Nova        3
Vermelho Novo                2
Acaiaca                      2
Betim                        1
Belo Horizonte               1
Teixeiras                    1
São Pedro dos Ferros         1
São José do Goiabal          1
São Gonçalo do Rio Abaixo    1
Sericita                     1
Sem Peixe                    1
Nova Era                     1
Ipanema                      1
Catas Altas                  1
Rio Doce                     1
Ribeirão das Neves           1
Ervália                      1
Ponto Chique                 1
Goianá                       1
Pedra Dourada                1
Santa Margarida              1

In [53]:
df[df["Campus"] == "Ipatinga"].groupby(['Cidade']).count()[['CPF']].sort_values('CPF', ascending=False)

                      CPF
Cidade
Ipatinga              466
Coronel Fabriciano    109
Santana do Paraíso     74
Belo Oriente           24
Timóteo                19
Ipaba                  11
Nova Era               10
Bom Jesus do Galho      6
Tarumirim               6
Caratinga               4
Iapu                    4
Naque                   3
Alvarenga               2
Vermelho Novo           2
Pingo-DÁgua             2
Manhuaçu                2
Joanésia                2
Bugre                   2
Dionísio                2
Antônio Dias            1
São José do Goiabal     1
Vila Velha              1
Braúnas                 1
Ubaporanga              1
São João do Oriente     1
Entre Folhas            1
João Monlevade          1
Santa Bárbara           1
Raul Soares             1
Governador Valadares    1
Ibiaí                   1
Ilhéus                  1
Inhapim                 1
Viçosa                  1

In [54]:
df[df["Campus"] == "Itabirito"].groupby(['Cidade']).count()[['CPF']].sort_values('CPF', ascending=False)

                              CPF
Cidade
Itabirito                     257
Ouro Preto                      5
Belo Horizonte                  3
Barão de Cocais                 1
Moeda                           1
Nova Lima                       1
Santa Bárbara                   1
Santana do Paraíso              1
São Luís Gonzaga do Maranhão    1
Viana                           1

In [89]:
df2 = pd.read_excel('dados/inscricoes/ResultadoPreliminarIFMGTcnicosIntegradosPonteNova95638385091048263070_from_ilovepdf.xlsx', sheet_name=0)
df2.set_index("Núm. Inscrição", inplace=True)

df2.head()

,Campus,Curso,Nome,Data de Nascimento,"Linguagens, Códigos e suas Tecnologias",Matemática e suas Tecnologias,Ciências da Natureza e suas Tecnologias,Ciências Humanas e suas Tecnologias,Nota Final Prova Objetiva,Grupo de vagas inscrito,Classificação Geral,Situação Geral,Grupo de vagas chamado,Classificação Reserva de Vagas,Situação Reserva de Vagas,Grupo de vagas chamado.1
Núm. Inscrição,,,,,,,,,,,,,,,,
377148,Ponte Nova,Técnico Integrado em Administração - Campus Po...,YASMIN PAULA MAFIA TEIXEIRA VIANA,2008-12-18,14,10,9,7,40,A0,1,Classificado(a),A0,-,-,-
376346,Ponte Nova,Técnico Integrado em Administração - Campus Po...,MARIA PAULA MURTA CAMPOS,2008-08-14,14,8,9,9,40,A0,2,Classificado(a),A0,-,-,-
380437,Ponte Nova,Técnico Integrado em Administração - Campus Po...,YASMIM MARIA GOMES BARBOSA,2008-11-13,14,9,7,9,39,A0,3,Classificado(a),A0,-,-,-
369120,Ponte Nova,Técnico Integrado em Administração - Campus Po...,BEATRIZ JÚLIO VENCESLAU,2008-10-16,13,11,7,8,39,A0,4,Classificado(a),A0,-,-,-
369105,Ponte Nova,Técnico Integrado em Administração - Campus Po...,JÚLIA RIGUEIRA VIEIRA TENSOL,2007-09-22,12,11,8,8,39,A0,5,Classificado(a),A0,-,-,-

In [85]:
df2 = pd.read_excel('dados/inscricoes/ResultadoPreliminarIFMGTcnicosIntegradosPonteNova95638385091048263070_from_ilovepdf.xlsx', sheet_name=0)
dfadm = df2[['Núm. Inscrição','Curso','Nome','Classificação Geral','Situação Geral','Grupo de vagas chamado','Classificação Reserva de Vagas','Situação Reserva de Vagas','Grupo de vagas chamado.1']]

dfadm[(dfadm ['Situação Geral']=='Classificado(a)')|(dfadm ['Situação Reserva de Vagas']=='Classificado(a)')]

,Núm. Inscrição,Curso,Nome,Classificação Geral,Situação Geral,Grupo de vagas chamado,Classificação Reserva de Vagas,Situação Reserva de Vagas,Grupo de vagas chamado.1
0,377148,Técnico Integrado em Administração - Campus Po...,YASMIN PAULA MAFIA TEIXEIRA VIANA,1,Classificado(a),A0,-,-,-
1,376346,Técnico Integrado em Administração - Campus Po...,MARIA PAULA MURTA CAMPOS,2,Classificado(a),A0,-,-,-
2,380437,Técnico Integrado em Administração - Campus Po...,YASMIM MARIA GOMES BARBOSA,3,Classificado(a),A0,-,-,-
3,369120,Técnico Integrado em Administração - Campus Po...,BEATRIZ JÚLIO VENCESLAU,4,Classificado(a),A0,-,-,-
4,369105,Técnico Integrado em Administração - Campus Po...,JÚLIA RIGUEIRA VIEIRA TENSOL,5,Classificado(a),A0,-,-,-
5,364274,Técnico Integrado em\nAdministração - Campus P...,LUIZA MOREIRA COUTO,6,Classificado(a),A0,-,-,-
6,366011,Técnico Integrado em Administração - Campus Po...,MARIA ALICE DE ASSIS MATOSO,7,Classificado(a),A0,-,-,-
7,377194,Técnico Integrado em\nAdministração - Campus P...,BIANCA ALVES FERREIRA,8,Classificado(a),A0,-,-,-
8,364252,Técnico Integrado em Administração - Campus Po...,MIRELY EMANUELE MARQUES MARTINS,9,Classificado(a),A0,-,-,-
9,372244,Técnico Integrado em Administração - Campus Po...,ANA SOPHIA RODRIGUES AMORA E LEITE,10,Classificado(a),A0,-,-,-
10,366696,Técnico Integrado em\nAdministração - Campus P...,ISABELA OLIVEIRA DE LELIS SOARES,11,Classificado(a),A0,-,-,-
11,367658,Técnico Integrado em Administração - Campus Po...,ANNE TREVENZOLI TAVARES,12,Classificado(a),A0,-,-,-
12,370367,Técnico Integrado em Administração - Campus Po...,LETÍCIA CARVALHO DA LUZ,13,Classificado(a),A0,-,-,-
13,370962,Técnico Integrado em\nAdministração - Campus P...,OLLIVIA GUIMARÃES HEIDERICH,14,Classificado(a),A0,-,-,-
14,370528,Técnico Integrado em Administração - Campus Po...,DÉBORA RODRIGUES DE JESUS,15,Classificado(a),A0,-,-,-
15,379254,Técnico Integrado em Administração - Campus Po...,JULIA MARTINHO DOS SANTOS SILVA,16,Classificado(a),A0,-,-,-
16,366049,Técnico Integrado em Administração - Campus Po...,CLARA FONTES SILVA,17,Classificado(a),A0,-,-,-
17,377845,Técnico Integrado em Administração - Campus Po...,ANTÕNIO CEZAR CAMPOS MAURI,18,Classificado(a),A0,-,-,-
18,373714,Técnico Integrado em\nAdministração - Campus P...,BARBARA JAMILY SILVEIRA GONCALVES,19,Classificado(a),A0,-,-,-
22,380257,Técnico Integrado em\nAdministração - Campus P...,AGATHA LUIZA SOARES DE AMORIM,-,-,-,1,Classificado(a),L2
24,378321,Técnico Integrado em Administração - Campus Po...,JÚLIA REIS SILVA COELHO,-,-,-,1,Classificado(a),L5
25,374112,Técnico Integrado em Administração - Campus Po...,ANA CLARA CAMPOS CARNEIRO,-,-,-,1,Classificado(a),L1
27,374801,Técnico Integrado em\nAdministração - Campus P...,ISABELLA SILVA RIBEIRO,-,-,-,2,Classificado(a),L2
30,374862,Técnico Integrado em Administração - Campus Po...,EDINARA VITÓRIA DE PAULO IRIA,-,-,-,3,Classificado(a),L2
33,369065,Técnico Integrado em Administração - Campus Po...,THALES HENRIQUE FERREIRA,-,-,-,4,Classificado(a),L2
34,367126,Técnico Integrado em Administração - Campus Po...,MARIA LUIZA ASSIS VIANA,-,-,-,2,Classificado(a),L5
35,378997,Técnico Integrado em Administração - Campus Po...,MARIANA SANTANA RODRIGUES,-,-,-,2,Classificado(a),L1
36,377291,Técnico Integrado em Administração - Campus Po...,EVELYN APARECIDA ESTEVAM DE SOUZA,-,-,-,5,Classificado(a),L2
39,372869,Técnico Integrado em Administração - Campus Po...,ANNA CLARA LOPES VIANA,-,-,-,3,Classificado(a),L1
42,373905,Técnico Integrado em Administração - Campus Po...,LÍVIA MILAGRES DA SILVEIRA,-,-,-,3,Classificado(a),L5
45,381453,Técnico Integrado em\nAdministração - Campus P...,KELVIN EVANGELISTA FRAGA DE MELO,-,-,-,4,Classificado(a),L5
47,378763,Técnico Integrado em Administração - Campus Po...,RAFAEL SENA RIGUEIRA,-,-,-,4,Classificado(a),L1
48,375420,Técnico Integrado em Administração - Campus Po...,RAUL DE FREITAS TEIXEIRA,-,-,-,1,Classificado(a),L6
64,366451,Técnico Integrado em Administração - Campus Po...,THIAGO DE SOUZA ROCHA,-,-,-,2,Classificado(a),L6
80,370423,Técnico Integrado em\nAdministração - Campus P...,VITÓRIA LUIZA OLIVEIRA CARVALHO,-,-,-,3,Classificado(a),L6
84,375816,Técnico Integrado em Administração - Campus Po...,KAYLANE MANUELA DA SILVA,-,-,-,4,Classificado(a),L6
97,380545,Técnico Integrado em Administração - Campus Po...,MORIAH ANTÔNIA CIPRIANO DA SILVA,-,-,-,5,Classificado(a),L6
153,379432,Técnico Integrado em Administração - Campus Po...,GIOVANNA KETELIN COELHO LESSA,-,-,-,1,Classificado(a),V3985
225,373057,Técnico Integrado em Administração - Campus Po...,MATHEUS ELIAS ANTÃO TEIXEIRA,-,-,-,1,Classificado(a),L10
260,380176,Técnico Integrado em Administração - Campus Po...,LEONARDO DA SILVA DE JESUS,-,-,-,1,Classificado(a),L14

In [91]:
df2 = pd.read_excel('dados/inscricoes/ResultadoPreliminarIFMGTcnicosIntegradosPonteNova95638385091048263070_from_ilovepdf.xlsx', sheet_name=1)
dfinf = df2[['Núm. Inscrição','Curso','Nome','Classificação Geral','Situação Geral','Grupo de vagas chamado','Classificação Reserva de Vagas','Situação Reserva de Vagas','Grupo de vagas chamado.1']]

dfinff = dfinf[(dfinf ['Situação Geral']=='Classificado(a)')|(dfinf ['Situação Reserva de Vagas']=='Classificado(a)')]

dfinff

,Núm. Inscrição,Curso,Nome,Classificação Geral,Situação Geral,Grupo de vagas chamado,Classificação Reserva de Vagas,Situação Reserva de Vagas,Grupo de vagas chamado.1
0,366599,Técnico Integrado em Informática -\nCampus Pon...,GUILHERME VICTOR CARDOSO ROSA,1,Classificado(a),A0,-,-,-
1,381028,Técnico Integrado em Informática -\nCampus Pon...,RONALTE DAVI BARCELOS DUTRA,2,Classificado(a),A0,-,-,-
2,372312,Técnico Integrado em Informática - Campus Pont...,BRUNO CANUTO DE SOUZA,3,Classificado(a),A0,-,-,-
3,378750,Técnico Integrado em Informática - Campus Pont...,RAFAEL MARCO DE OLIVEIRA CARVALHO,4,Classificado(a),A0,-,-,-
4,373659,Técnico Integrado em Informática - Campus Pont...,LUIS GUSTAVO MOREIRA DE FREITAS,5,Classificado(a),A0,-,-,-
5,369301,Técnico Integrado em Informática - Campus Pont...,JOAO GABRIEL FERREIRA DE ALMEIDA,6,Classificado(a),A0,-,-,-
6,373746,Técnico Integrado em Informática -\nCampus Pon...,THOMAS BENFICA FERREIRA,7,Classificado(a),A0,-,-,-
7,373467,Técnico Integrado em Informática - Campus Pont...,THAUAN DE OLIVEIRA MAGALHAES,8,Classificado(a),A0,-,-,-
8,363613,Técnico Integrado em Informática -\nCampus Pon...,LETICIA UBALDO VILAR,9,Classificado(a),A0,-,-,-
9,375380,Técnico Integrado em Informática - Campus Pont...,CAUÃ FERREIRA BRANDÃO,10,Classificado(a),A0,-,-,-
10,380268,Técnico Integrado em Informática -\nCampus Pon...,IGOR DE PAIVA LELES,11,Classificado(a),A0,-,-,-
11,374066,Técnico Integrado em Informática -\nCampus Pon...,LARISSA DIAS DE FREITAS,12,Classificado(a),A0,-,-,-
12,367741,Técnico Integrado em Informática - Campus Pont...,ANA CLARA LOPES TEIXEIRA GOMES,13,Classificado(a),A0,-,-,-
13,381369,Técnico Integrado em Informática - Campus Pont...,NICOLAS ROBERTO VIANA DE SOUZA,14,Classificado(a),A0,-,-,-
14,366609,Técnico Integrado em Informática - Campus Pont...,RICARDO DE LIMA BATISTA VIEIRA,15,Classificado(a),A0,-,-,-
15,376229,Técnico Integrado em Informática - Campus Pont...,ALEXANDRE SILVA MARTINO E CARVALHO,16,Classificado(a),A0,-,-,-
17,372161,Técnico Integrado em Informática - Campus Pont...,ANA LUIZA DA CRUZ VALENTE,-,-,-,1,Classificado(a),L6
19,373506,Técnico Integrado em Informática - Campus Pont...,MATHEUS GABRIEL ANTUNES DOS SANTOS,-,-,-,1,Classificado(a),L5
21,382209,Técnico Integrado em Informática - Campus Pont...,PEDRO HERIQUE ALVES VIANA,-,-,-,2,Classificado(a),L5
22,366028,Técnico Integrado em Informática -\nCampus Pon...,LUCAS GABRIEL FERREIRA FELICIO,-,-,-,1,Classificado(a),L1
24,375649,Técnico Integrado em Informática -\nCampus Pon...,ANA LUIZA ROCHA GUIMARÃES,-,-,-,3,Classificado(a),L5
27,367055,Técnico Integrado em Informática - Campus Pont...,JOÃO OTÁVIO DE CASTRO MOTA,-,-,-,4,Classificado(a),L5
29,377276,Técnico Integrado em Informática - Campus Pont...,FABIO LUIZ SILVA MOREIRA,-,-,-,2,Classificado(a),L1
30,379293,Técnico Integrado em Informática -\nCampus Pon...,KAIQUE GABRIEL COELHO DE JESUS,-,-,-,2,Classificado(a),L6
33,379589,Técnico Integrado em Informática - Campus Pont...,KAUAN LUCAS COELHO DE JESUS,-,-,-,3,Classificado(a),L6
35,374303,Técnico Integrado em Informática -\nCampus Pon...,LETÍCIA MIRANDA DOS SANTOS.,-,-,-,4,Classificado(a),L6
40,372900,Técnico Integrado em Informática - Campus Pont...,MAROWAN SAMIR XAVIER HARMUCHE,-,-,-,3,Classificado(a),L1
43,364256,Técnico Integrado em Informática - Campus Pont...,FREDERICO PIETRO FELISBERTO BELLICO MORAES,-,-,-,4,Classificado(a),L1
46,381076,Técnico Integrado em Informática -\nCampus Pon...,JOÃO PEDRO SENNA CARNEIRO,-,-,-,5,Classificado(a),L6
51,376158,Técnico Integrado em Informática - Campus Pont...,GUILHERME SILAS FABRI DA SILVA,-,-,-,1,Classificado(a),L2
68,366403,Técnico Integrado em Informática -\nCampus Pon...,KEMILLY TAINA PEDRO,-,-,-,2,Classificado(a),L2
73,373030,Técnico Integrado em Informática -\nCampus Pon...,HEROS ANDRÉ PEREIRA,-,-,-,3,Classificado(a),L2
84,373118,Técnico Integrado em Informática - Campus Pont...,JOSE HENRIQUE MACEDO GOMES,-,-,-,4,Classificado(a),L2
94,365527,Técnico Integrado em Informática -\nCampus Pon...,KARINA JANUÁRIO TOTTI,-,-,-,5,Classificado(a),L2
233,376115,Técnico Integrado em Informática - Campus Pont...,AQUILES FREITAS DE SOUZA,-,-,-,1,Classificado(a),V3985

In [101]:
dfinff['Curso'].str.replace('\n','').str.split('-',expand=True)

                                     0                    1                2
0    Técnico Integrado em Informática    Campus Ponte Nova    Turno Integral
1    Técnico Integrado em Informática    Campus Ponte Nova    Turno Integral
2    Técnico Integrado em Informática    Campus Ponte Nova     TurnoIntegral
3    Técnico Integrado em Informática    Campus Ponte Nova     TurnoIntegral
4    Técnico Integrado em Informática    Campus Ponte Nova     TurnoIntegral
5    Técnico Integrado em Informática    Campus Ponte Nova     TurnoIntegral
6    Técnico Integrado em Informática    Campus Ponte Nova    Turno Integral
7    Técnico Integrado em Informática    Campus Ponte Nova     TurnoIntegral
8    Técnico Integrado em Informática    Campus Ponte Nova    Turno Integral
9    Técnico Integrado em Informática    Campus Ponte Nova     TurnoIntegral
10   Técnico Integrado em Informática    Campus Ponte Nova    Turno Integral
11   Técnico Integrado em Informática    Campus Ponte Nova    Turno Integral
12   Técnico Integrado em Informática    Campus Ponte Nova     TurnoIntegral
13   Técnico Integrado em Informática    Campus Ponte Nova     TurnoIntegral
14   Técnico Integrado em Informática    Campus Ponte Nova     TurnoIntegral
15   Técnico Integrado em Informática    Campus Ponte Nova     TurnoIntegral
17   Técnico Integrado em Informática    Campus Ponte Nova     TurnoIntegral
19   Técnico Integrado em Informática    Campus Ponte Nova     TurnoIntegral
21   Técnico Integrado em Informática    Campus Ponte Nova     TurnoIntegral
22   Técnico Integrado em Informática    Campus Ponte Nova    Turno Integral
24   Técnico Integrado em Informática    Campus Ponte Nova    Turno Integral
27   Técnico Integrado em Informática    Campus Ponte Nova     TurnoIntegral
29   Técnico Integrado em Informática    Campus Ponte Nova     TurnoIntegral
30   Técnico Integrado em Informática    Campus Ponte Nova    Turno Integral
33   Técnico Integrado em Informática    Campus Ponte Nova     TurnoIntegral
35   Técnico Integrado em Informática    Campus Ponte Nova    Turno Integral
40   Técnico Integrado em Informática    Campus Ponte Nova     TurnoIntegral
43   Técnico Integrado em Informática    Campus Ponte Nova     TurnoIntegral
46   Técnico Integrado em Informática    Campus Ponte Nova    Turno Integral
51   Técnico Integrado em Informática    Campus Ponte Nova     TurnoIntegral
68   Técnico Integrado em Informática    Campus Ponte Nova    Turno Integral
73   Técnico Integrado em Informática    Campus Ponte Nova    Turno Integral
84   Técnico Integrado em Informática    Campus Ponte Nova     TurnoIntegral
94   Técnico Integrado em Informática    Campus Ponte Nova    Turno Integral
233  Técnico Integrado em Informática    Campus Ponte Nova     TurnoIntegral